@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #fdfdfd;
}

/* Buttons */

button {
  font-family: "Markazi Text", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.07em;
  cursor: pointer;
}

#btnLink1 {
  text-decoration: none;
  color: #1e1e1e;
}

.btn1 {
  background-color: #f4ce14;
  padding: 10px 20px;
  border-radius: 16px;
  border: none;
  color: #1e1e1e;
  box-shadow: rgb(0, 0, 0) 0px 7px 16px -12px;
  transform: translateY(0);
}

.btn1:hover {
  transform: translateY(-3px);
  padding: 10px 21px;
  background-color: #fde258;
}

#btnLink2 {
  text-decoration: none;
  color: #fdfdfd;
}

.btn2 {
  background-color: #495e57;
  padding: 10px 20px;
  border-radius: 16px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 7px 16px -12px;
  transition: 370ms;
  transform: translateY(0);
}

.btn2:hover {
  transition: 370ms;
  transform: translateY(-3px);
  padding: 10px 21px;
  background-color: #6b7f7a;
}

.mobileBtn2 {
  background-color: #fdfdfd;
  padding: 10px 20px;
  border-radius: 16px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 7px 16px -12px;
  transform: translateY(0);
}

.mobileBtn2:hover {
  transform: translateY(-3px);
  padding: 10px 21px;
  border: 2px solid #000;
  background-color: #f4ce14;
}

#mobileBtnLink2 {
  text-decoration: none;
  color: #1e1e1e;
  margin: 0;
}

.mobileBtnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
